.header{
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
 }
 .leftbox{  
  display: flex;
  align-items: center;
 }
 .hamburger-icon{
  height: 25px;
  margin-left: 20px;
  margin-right: 20px;
 }
 .youtube-icon{
  height: 24px;
  
 }
 .middlebox{
  background-color: lightpink;
  flex: 1;
  max-width: 500px;
  margin-left: 70px;
  margin-right: 35px;
 }
 .rightbox{
  background-color: lightblue;
  width: 200px;
 }