p {
  font-family: arial;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 18px;
}
.website{
  margin-bottom: 5px;
}
.handle{
  font-weight: bold;
}
.username{
  color: rgb(100, 100, 100)
}
.tweet{
  width: 600px;
  margin-bottom: 20px;
  line-height: 25px;
}
.mention{
  color: rgb(29, 155, 240);;
}